
# Logs
*.log
bash: .env: command not found
bash: *.env: command not found
bash: application.local.yaml: command not found
bash: .gradle/: Is a directory
bash: build/: Is a directory
bash: .idea/: Is a directory
bash: *.iml: command not found
bash: out/: No such file or directory
bash: *.log: command not found
